/*html {
  font-family: serif;
} */
/*html {
  font-family: sans-serif;
}*/
html {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
}
h1 {
  font-weight: 200;
  text-shadow: 10px 0px 10px violet;
}
h2 {
  font-weight: 700;
  letter-spacing: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#line {
  text-decoration: line-through;
}
#indent {
  text-indent: 50px;
}