div {
  width: 400px;
  height: 300px;
  border-radius: 10% 100%;
  border: 10px solid black;
  background-color: yellow;
  margin: 0 auto;
  display: flex;
}
.left {
float: left;
}
.right {
  float: right;
}